body{
    margin: 0;
    /* make space for header */
    padding-top: 80px;
    /* make space for sidebar */
    padding-left: 80px;
    font-family: Roboto, Arial;
    background-color: rgb(241, 241, 241);
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
