

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    /* make header stick to the top */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid ;
    border-bottom-width: 1px;
    border-bottom-color: rgb(220, 220, 220);
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    flex: 1;
    margin-right: 35px;
    /* limit the flex width */
    max-width: 500px;
    display: flex;
    align-items: center;
}



.search-bar{
    flex: 1;
    height: 28px;
    font-size: 16px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.15);
    /* allow shrink only works in flex*/
    width: 0;
}

.search-bar::placeholder{
    font-size: 16px;
    
}

.hamburger-menu{
    height: 24px;
    margin-left: 20px;
    margin-right: 5px;
}

.youtube-logo{
    height: 45px;
}

.search-icon{
    height: 24px;
}
.search-button{
    width: 60px;
    height: 32px;
    background-color: #F6F6F6;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    margin-left: -2px;
    cursor: pointer;
}




.voice-search-icon{
    height: 24px;
    
}   
.voice-search-button{
    border-radius: 25px;
    border:none;
    background-color:#F7F7F7 ;
    cursor: pointer;
    position:relative;

}

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-right: 20px;
    /* prevent from shrinking */
    flex-shrink: 0;
}

.video-add-btn{
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}
.video-add-icon{
    height: 24px;
}

.bell-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}
.bell-icon{
    height: 24px;
}
.yt-channel-pic{
    height: 24px;
}
.profile-btn{
    height: 32px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    position: relative;
}

.notification-container{
    position: relative;
}
.notification-count{
    font-size: 9px;
    font-weight: 500;
    background-color: red;
    color: white;
    position: absolute;
    top: 3px;
    right: 0px;
    border-radius: 6px;
    padding-top: 0.2px;
    padding-bottom: 0.2px;
    padding-left: 3px;
    padding-right: 3px;
    
}

.search-button,
.voice-search-button,
.video-add-btn,
.bell-btn,
.profile-btn
{
    position:relative;
    display: flex;
    /* flex default is row .. no need to specify */
    flex-direction: row;
    /* default  horizontaly alighned, in flex-direction:column vertically alighned*/
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.video-add-btn .tooltip,
.bell-btn .tooltip,
.profile-btn .tooltip
{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    bottom: -24px;
    /*default invisible */
    opacity: 0; 
    transition: opacity 1;
    /* disable hover effect on tooltip element */
    pointer-events: none;
    white-space: nowrap;

}

.voice-search-button:hover .tooltip,
.search-button:hover .tooltip,
.video-add-btn:hover .tooltip,
.bell-btn:hover .tooltip,
.profile-btn:hover .tooltip
{
    opacity: 1;
}

