


.videos-grid{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr;
    row-gap: 40px;
    margin-right: 50px;
    margin-left: 20px;
}



/* screen size 550-749px */
@media (min-width: 550px) and (max-width: 749px) {
    .videos-grid{
        grid-template-columns:  1fr 1fr ;
    }
}


 /* 750-999 */
@media (min-width: 750px) and (max-width: 999px) {
    .videos-grid{
        grid-template-columns:  1fr 1fr 1fr;
    }
}

/* 1000+ screen*/
@media (min-width: 1000px) {
    .videos-grid{
        grid-template-columns:  1fr 1fr 1fr 1fr;
    }
}

.thumbnail {
    /* take full size of the container */
    width: 100%;
    
}

.video-title {
    /* by default some margin are set */
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-preview {
    /* take full size of the container . i.e grid column */
     width: 100%; 
    
}
.channel-pic{
    
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-info{
}
.profile-pic{
    /* take the whole size of the container . i.e. div width */
    width: 40px;
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}

.video-time{
    position: absolute;
    bottom: 7px;
    right: 3px;
    font-size: 8px;
    font-weight: 500;
    border-radius: 2px;
    padding: 2px;
    background-color: black;
    color: white;
}

.video-author ,
.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 6px;
}